<div class='loginContainer'>
  <div class="loginBox">
    
    <p class="titleText">Login</p>
    
    <%= form_tag '/login' do %>
  <p>
    <%= text_field_tag 'username', '' , { :class => 'loginInput', :placeholder => "Username..." }%>
  </p>
  <p>
    <%= password_field_tag 'password', '', { :class => 'loginInput', :placeholder => "Password..." } %>
  </p>
  <p>
    <%= submit_tag 'Login', :id => 'logInButton' %>
  </p>
    <% end %>

<!--     <input class="loginInput" name="username" type="text" placeholder="Username...">

    </br>

    <input class="loginInput" name="password" type="text" placeholder="Password...">

    </br>

    <button id="logInButton">Login</button> -->
    <button id="signUpButton">Sign Up</button>

  </div>

  <div class="signUpBox">
    <p class="titleText">Sign Up</p>

    <input class="loginInput" name="newUsername" type="text" placeholder="Username...">

    </br>

    <input class="loginInput" name="newPassword" type="text" placeholder="Password...">

    </br>

    <input class="loginInput" name="emailAddress" type="text" placeholder="E-mail...">

    </br>

    <input class="loginInput" name="passwordConf" type="text" placeholder="Confirm Password...">

    </br>

    <button id="completeSignUpButton">Sign Up</button>
    <button id="closeWindowButton">Close Window</button>

  </div>

</div>

<!-- <div class="overlay"></div> -->
